%-------------------------
% Rover Resume - Office Template
% Link: https://github.com/subidit/rover-resume
%------------------------
{% raw %}
\documentclass{article}

\usepackage[sfdefault,light]{FiraSans}
\usepackage{geometry}
\geometry{a4paper,margin=0.8in,top=0.5in,bottom=0.5in}
\pagestyle{empty}
\setcounter{secnumdepth}{0}
\usepackage{microtype}
\usepackage{graphicx}
\usepackage{fontawesome5}
\usepackage{enumitem}
\setlist[itemize]{leftmargin=*,label=\faCaretRight,itemsep=0pt}
\usepackage{xcolor}
\definecolor{background}{HTML}{0D47A1}
\usepackage[explicit]{titlesec}
\titleformat{\section}{\large\bfseries\color{white}}{}{}{\colorbox{background}{#1}}
\titleformat{\subsubsection}{\large\itshape}{}{}{#1}
\titlespacing{\subsection}{0pt}{*3}{*0.5}
\titlespacing{\subsubsection}{0pt}{*0}{*0.5}
\usepackage[british]{datetime2}

\newcommand{\rside}[1]{\hfill \normalfont\scshape\MakeLowercase{#1}}

\usepackage[bookmarks=false,hidelinks]{hyperref}
{% endraw %}
\begin{document}

\begin{center}
  \begin{minipage}{0.35\textwidth}
    {% set name = basics.name.split(" ") %}
    {\Huge\bfseries {{ name[0] }} \\ {{ name[1] }} } \\
    {\sffamily\textls{ {{- basics.role -}}  }} \\
  \end{minipage}\hfill
  \begin{minipage}{0.35\textwidth}
    \faPhone{\quad {{ basics.phone }} }  \\
    \href{ {{ basics.email }} }{\faEnvelope\ \quad {{ basics.email }} } \\
    \href{https://www.openstreetmap.org/search?query={{ basics.location.city }}+{{ basics.location.country }} }{\faMapMarker\ \quad {{ basics.location.city }}, {{ basics.location.country }} } \\
    \faLanguage{\quad {{ languages | map(attribute='language') | join(', ') }} } \\
    \\
    \href{https://bibatwork.github.io/cv/}{\faGlobe } \quad \textbar \quad 
    \href{https://github.com/bibAtWork}{\faGithub }  \quad \textbar \quad  
    \href{https://www.linkedin.com/in/andreas-biberacher/}{\faLinkedin} \\
    \\
  \end{minipage}
  \begin{minipage}{0.2\textwidth}
    \includegraphics[width=\linewidth]{resources/Profil.PNG}
  \end{minipage}
\end{center}

%% SUMMARY %%
\section{Summary}
%==========
\begin{description}
{{ basics.summary | latexify }}
\end{description}

%% EDUCATION %%
\section{\faGraduationCap\enspace Education}
%==========
{% for edu in education %}
\subsection{\href{ {{ edu.url }} }{ {{- edu.institution -}},  {{ edu.area}} {{ edu.studyType }} } \rside{ {{ edu.startDate | format_date }} -- {{ edu.endDate | format_date if edu.endDate else 'Present' }} } }
\subsubsection{ {{ edu.gpa }} }
{% if edu.courses | length > 0 %}
\begin{flushleft}
\textbf{Specialization:}
\begin{itemize}
  {% for course in edu.courses %}
    \item {{ course }}
  {% endfor %}
\end{itemize}
\end{flushleft}
{% else %}
\vspace{1em}
{% endif %}
{% endfor %}

%% Experience %%
\section{\faToolbox\enspace Experience}
%==========
{% for job in work %}
\subsection{ {{- job.position -}}, \href{ {{ job.url }} }{ {{job.name}} } \rside{ {{ job.startDate | format_date }} -- {{ job.endDate | format_date if job.endDate else 'Present' }} } }
\subsubsection{ {{ job.position }} \rside{ {{ job.location }} } }
\begin{flushleft}
{{ job.summary | latexify }}
\end{flushleft}
{% endfor %}

%% Projects %%
\section{\faFlask\enspace Projects}
%==========
{% for prj in projects %}
\subsection{\href{ {{ prj.url }} }{ {{- prj.name -}} }}
\begin{flushleft}
\textbf{Description: } {{ prj.description }} \\[1em]
{% if prj.highlights | length > 0 %}
\textbf{Tech Stack: } {% for stack in prj.highlights %}{{ stack | latexify }}; {% endfor %}
{% endif %}
\end{flushleft}
{% endfor %}

%% SKILLS %%
\section{\faCogs\enspace Skills}
%========
\begin{description}
{% for category in skills %}
  \item[{{ category.name | latexify }}:] {% for skill in category.keywords %}{{ skill | latexify }}; {% endfor %}
{% endfor %}
\end{description}

%% VOLUNTEER %%
\section{\faHandsHelping \enspace Community Involvement}
%================

{% for v in volunteer %}
\subsection{ {{- v.position -}}, \href{ {{ v.url }} }{ {{v.organization}} } \rside{ {{ v.startDate | format_date }} -- {{ v.endDate | format_date if v.endDate else 'Present' }} } }
\subsubsection{ {{ v.position }} \rside{ {{ v.location }} } }
\begin{flushleft}
{{ v.summary | latexify }}
\end{flushleft}
{% endfor %}

%% AWARDS & CERTIFICATES %%
\section{\faTrophy\enspace Awards \& Certifications}
%================
\subsection{Awards}
{% for a in awards %}
\subsubsection{ {{- a.title -}} \rside{ {{ a.date | format_date if a.date else '' }} } }
\begin{flushleft}
\textbf{Awarder:}\quad \quad  {{ a.awarder | latexify }}\\
\textbf{Description: } {{ a.summary }}
\end{flushleft}
{% endfor %}

\subsection{Certificates}
\begin{flushleft}
{% for c in certificates %}
\href{ {{ c.url }} }{ {{- c.name -}} }, {{ c.issuer }} \rside{ {{ c.date | format_date if c.date else '' }} } 
{% endfor %}
\end{flushleft}

{% if publications | length > 0 %}
%% PUBLICATIONS %%
\section{\faBook \enspace Publications}
%================
{% for p in publications %}
\subsubsection{ \href{ {{ p.url }} }{ {{- p.name -}} }, {{ p.publisher }} \rside{ {{ p.releaseDate | format_date if p.releaseDate else '' }} }  }
\begin{flushleft}
\textbf{Summary: }\quad {{ p.summary }}
\end{flushleft}
{% endfor %}
{% endif %}

{% if references | length > 0 %}
%% REFERENCES %%
\section{\faUsers \enspace References}
%================
{% for r in references %}
\begin{flushleft}
\faUser \quad \href{ {{ r.url }} }{ \textbf{ {{- r.name -}} } }, {{ r.company }}
\end{flushleft}
{% endfor %}
{% endif %}

%% Interests %%
\section{\faHeart \enspace Interests}
%================
\begin{description}
{% for i in interests %}
  \item[{{ i.name | latexify }}:] {% for element in i.keywords %}{{ element | latexify }}; {% endfor %}
{% endfor %}
\end{description}

\vspace{1cm}

\begin{flushleft}
  \includegraphics[width=0.25\textwidth]{resources/signature.jpg}\\
  %\rule{6cm}{0.4pt} \\
  {{ basics.name }} \\
  {{ basics.location.city }}, \textit{\today}
\end{flushleft}


\end{document}